#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.titulo{
  text-align: center;
}

.buscador_boton{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.buscador{
  width: 80%;
  height: 5%;
}

.boton{
  width: 20%;
  height: 5%;
  margin-top: 2%;
  margin-right: 6%;
}

.panel{
  gap: 10px;
}

.row.row-cols-1 {
  display: flex;
  flex-wrap: wrap; /* Permite que las tarjetas se envuelvan en filas */
  justify-content: space-between; /* Espacia las tarjetas horizontalmente */
}


